version: '3.8'

services:
  app:
    build: .
    container_name: adonis_api
    restart: always
    ports:
      - "3333:3333"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: masanteplus_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456789
      POSTGRES_DB: masanteplus
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5439:5432"

volumes:
  pgdata:
